/* frontend/src/layouts/AdminLayout.css */
.admin-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  min-height: 100vh;
  display: flex;
}

.content {
  margin-left: 250px;
  flex: 1;
  background-color: var(--light-gray);
  min-height: 100vh;
  padding-top: 100px; /* Space for header */
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

/* Responsive */
@media (max-width: 1024px) {
  .content {
    margin-left: 0;
  }
}